<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>macaron</title>
	<link rel="stylesheet" href="../static/css/index.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- エディタ用 -->
	<!-- <link rel="stylesheet" href="../static/css/codemirror/codemirror.css" />
	<script src="../static/js/codemirror/codemirror.js"></script>
	<script src="../static/js/mode/macaron/macaron.js"></script> -->

	<!-- <script src="../static/addon/hint/show-hint.js"></script>
	<link rel="stylesheet" href="../static/addon/hint/show-hint.css"> -->
	<!-- <script src="poly-decomp.js-master/build/decomp.js" type="text/javascript"></script> -->

	<!-- drawer button -->
	<link rel="stylesheet" href="../static/css/component.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
	<script src="../static/js/drawer/modernizr.custom.25376.js"></script>
</head>
<body>
	
<div id="perspective" class="perspective effect-moveleft">
	
	<div class="container">
		<div class="wrapper" id="wrapper"><!-- wrapper needed for scroll -->
			<!-- <div class="main clearfix">

			</div> -->
			<main>
				<div id="canvas-area">
					<!-- <canvas id="matter-canvas" style="background: black"></canvas> -->
					<canvas id="text-canvas" width="1440px" height="837px" style="background: black"></canvas>
					<canvas id="matter-canvas" width="1440px" height="837px"></canvas>
				</div>

				<div id="start-plot" class="btn btn-start-plot active" switch-link="#pause-plot">
					<span class="fa fa-play"></span>
				</div>
				<div id="pause-plot" class="btn btn-stop-plot" switch-link="#start-plot">
					<span class="fa fa-pause"></span>
				</div>
				<div id="reset" class="btn btn-reset">
					<span class="fa fa-fast-backward"></span>
				</div>

				<!-- <div id="control-panel">
					<div id="increment-frame" class="btn btn-increment-frame">
						<span class="fa fa-pause"></span>
						<span class="fa fa-play"></span>
						<span> </span>
						コマ送り
					</div>
					
					<h2 class="time-counter">
						time counter : <span id="time-counter">0</span>
					</h2>
				</div> -->
				
				<!-- <div class="clear"></div> -->

				<div class="btn">
					<p>
						<button id="showMenu">
								<div id="humberger">
									<div></div>
									<div></div>
									<div></div>
								</div>
						</button>
					</p>
				</div>
			</main><!-- /main -->

		</div><!-- wrapper -->
	</div><!-- /container -->

	<nav class="outer-nav right vertical">
		<div id="image-set-area">
			<!-- <h2 class="form-title">
				Macaronコード：
			</h2> -->
			<div class="seted-image-list">
				<form name="fm">
					<div id="macaron-editor"></div>
					  サンプル
					<div class="sample-select" style="display: inline-block; _display: inline;">
						<select name="samples">
							<option value="">-</option>
							<option value="bridge">Bridge</option>
							<option value="car">Car</option>
							<option value="pendulum">Newton's Cradls</option>
							<option value="slingshot">Slingshot</option>
							<option value="wreckingball">Wrecking Ball</option>
						</select>
					</div>

					<div class="sample-select" style="display: inline-block; _display: inline;">
						<select name="lang">
							<option value="json">JSON</option>
							<option value="jp">日本語</option>
						</select>
					</div>

				<!-- <input type="button" id="apply-jp" name="submit" value="送信" style="display:none;"/>
				<div id="jp" class="btn btn-apply">日本語</div> -->

				</form>
			</div>
		</div>
		<div class="clear"></div>
	</nav>
</div>

<!-- エディタ -->
<script type="text/javascript" src="../static/js/ace/ace.js"></script>

<!-- matter.jsを読み込む前にcanvasを生成する必要あり -->
<script src="../static/js/matter/matter.min.js"></script>

<!-- 実装汚いけど他にうまくできなかったので -->
<script src="../static/js/query.js"></script>

<script src="../static/js/parser/json.js"></script>
<!-- <script src="../static/js/app.js"></script> -->

<!-- drawer button -->
<script src="../static/js/drawer/classie.js"></script>
<script src="../static/js/drawer/menu.js"></script>

</body>
</html>