* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Hiragino Maru Gothic ProN", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

main {
  /* max-width: 1500px; */
  width: 100%;
  /* max-height: 1000px; */
  height: 100%;
}

/* .clear {
  clear:left;
} */

/* FIXME */
#canvas-area {
  position: relative;
  /* text-align: center; */
}

#matter-canvas {
  position: absolute;
  /* max-width: 900px; */
  /* width: 60%; */
  /* width: 900px;
  height: 700px; */
  top: 0;
  left: 0;
}

#text-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.perspective {
  height: 100%;
}

/* #code-editor {
  max-width: 600px;
  width: 100%;
  max-height: 900px;
  height: 90%;
  float: left;
  border: none;
  color: #202020;
  font-size: 20px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: none;
  transition: all .3s;
  background: rgba(0, 0, 0, 0.08);
} */

/* .form-title {
  font-size: 32px;
  color: black;
  display: inline-block;
} */

#code-editor h1 {
  font-size: 32px;
  display: inline-block;
}

#image-set-area {
  width:100%;
  height: 20%
}

.seted-image-list {
  position: relative;
}

.btn-plot {
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  padding: 5px 5px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.btn-plot:hover {
  opacity: 1;
}

.btn-plot:active {
  box-shadow:none;
  position:relative;
  top:7px;
}

.btn{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: -webkit-linear-gradient(#EAD9FF 0%, #C299FF 100%);
  background-image: linear-gradient(#EAD9FF 0%, #C299FF 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn:active{/*押したとき*/
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(#EAD9FF 0%, #C299FF 100%);
  background-image: linear-gradient(#EAD9FF 0%, #C299FF 100%);/*グラデーションを明るく*/
}  
.fa {
  margin-right: 5px;
}

.active {
  display: inline-block!important;
}

.btn-start-plot {
  /* background-color: #009999; */
  /* width: 100%;
  height: 100%; */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  display: none;
  color: #FFF;
  background: rgb(248, 211, 0);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px rgb(248, 211, 0);
}

.btn-stop-plot {
  background-color: #339999;
  /* width: 100%;
  height: 100%; */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  display: none;
  color: #FFF;
  background: #FA5D5E;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #FA5D5E;
}

/* .btn-increment-frame {
  background-color: #009966;
  width: 18%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: #FFF;
  background: lime;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px lime;
} */

.btn-reset {
  /* background-color: #0099CC;
  width: 18%;
  height: 100%; */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #FFF;
  background: #30c730;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #30c730;
}

/* .time-counter {
  font-size: 32px;
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
} */

.btn-apply {
  width: 120px;
}

/* .btn-load-json {
  width: 120px;
} */

/* code button 用 (仮) */
.column {
  display: inline-block;

  /* color: #000000; */
  width: 50px;
  height: 50px;
  
  /* float: left; 要検討 */
}

button {
	/* border: none; */
	padding: 1.0em 1.1em;
	/* background: 'black'; */
	/* color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
	display: inline-block; */
	/* border-radius: 2px;
	font-weight: 400;
  outline: none; */
  overflow: hidden;
  white-space: nowrap;
  background: #6DDCDD;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #6DDCDD;
}
button {
	font-size: 75%;
	/* background: #ed8151; */
}
button:hover,
button:active {
	/* background: #e86a32; */
}

#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #FFF;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 0;
}
#humberger div:nth-of-type(2) {
  top: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0;
}

/* select box */
.sample-select{
  overflow: hidden;
  width: 29%;
  text-align: center;
  display: inline;
}
.sample-select select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.sample-select select::-ms-expand {
  display: none;
}
.sample-select {
  position: relative;
  border: 2px solid #C299FF;
  border-radius: 5px;
  background: #ffffff;
}

/* selectboxの下矢印 */
.sample-select::before {
  position: absolute;
  top: 0.8em;
  right: 0.3em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
  pointer-events: none;
}
/* selectboxの文字 */
.sample-select select {
  padding: 8px 8px 8px 8px;
  font-size: 15px;
  color: #000000;
}

/* マウス位置 */
div.tooltip {  
  width: 100px;  
  position: absolute;  
  left: -9999px;
  background: #EEE;  
  padding: 1px;  
  border: 1px solid #AAA;  
}  

div.tooltip p{  
  color: #FFF;  
  background: #222;  
  padding: 1px 1px;  
}

#macaron-editor {
  height: 600px;
  border: 1px solid black;
  border-radius: 3px;
}